# Ignore specific files
paysim.csv
HI-Small_accounts.csv
HI_Small_Patterns.txt
HI-Small_Trans.csv

# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build files
dist/
build/

# Logs
*.log

# Database
*.sqlite
*.sqlite3

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# ML artifacts
*.pkl
*.joblib
*.h5
*.keras

# Temporary files
*.tmp
*.temp
code/ml/data/aml/HI-Small_Patterns.txt
